.form-fields {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dialog-cancel-btn {
  margin-left: 10px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 15px;
}