<div class="container">
    <div class="hero">
        <h1>Student Management System</h1>
        <p>Efficiently manage your students and courses.</p>
    </div>

    <div class="features">
        <div class="feature" (click)="navTo('students')">
            <i class="material-icons">person</i>
            <h3>Student Management</h3>
            <p>Manage all student records: add, edit, delete, enroll in courses, and track their academic progress.</p>
        </div>
        <div class="feature" (click)="navTo('courses')">
            <i class="material-icons">book</i>
            <h3>Course Management</h3>
            <p>Create, update, and manage courses.</p>
        </div>
    </div>
</div>